<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">
   <delete id="noticeDelete" parameterType="int">
     delete from notice
     where no = #{no}
   </delete>
   <update id="noticeUpdate" parameterType="Notice">
   	 update notice
   	 set title=#{title}   , author = #{author}, content = #{content}
   	 where no = #{no}
   </update>
   <insert id="noticeWrite" parameterType="Notice">
    insert into notice (no,title,author,content)
    values (notice_seq.nextval, #{title},#{author},#{content})
   </insert>
 
   <select id="selectList"  resultType="Notice">
     select no, title, author, content, 
     		to_char(writeday, 'YYYY/MM/dd') as writeday,
     	    readcnt
     from notice
     order by no desc
   </select>
   <select id="totalCount" resultType="int">
     select count(*)
     from notice
   </select>
   
   
   <update id="readCnt" parameterType="int">
      update notice
      set readcnt = readcnt + 1
      where no = #{no}
   </update>
   <select id="selectByNo"  resultType="Notice" parameterType="int">
     select no, title, author, content, 
     		to_char(writeday, 'YYYY/MM/dd') as writeday,
     	    readcnt
     from notice
     where no = #{no}
   </select>
</mapper>


